@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
	/*font style*/
	--title-font: 'Bebas Neue', cursive;
	--content-font: 'Poppins', sans-serif;
	
	/*color theme*/
	--font-color: #F5F5F1;
	--background-color: #221F1F;
	--first-color: #E50914;
	--second-color: #B81D24;
	--border-color: #292929;
}

*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html{
	scroll-behavior: smooth;
}

body{
	background-color: var(--background-color);
}

header{
	font-family: var(--content-font);
	font-size: 1.1em;
	background-color: var(--background-color);
	position: sticky;
	top: 0;
	z-index: 2;
}

.header-nav, .header-nav-overflow{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding-top: 30px;
	padding-bottom: 15px;
	padding-left: 5%;
	padding-right: 5%;
}

.header-nav ul li, .header-nav-overflow ul li{
	list-style-type: none;
	display: inline-block;
	padding: 0 1.2em;
}
.header-nav ul li a{
	color: var(--font-color);
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
}
.header-nav ul li a:hover{
	color: var(--first-color);
	transition: .4s;
}

.header-nav-overflow{
	display: none;
	opacity: 0;
	visibility: hidden;
}

.nav-logo{
	width: 75px;
}

.nav-icon{
	color: var(--first-color);
	font-size: 1.75em;
}

.nav-icon:hover{
	color: var(--font-color);
	transition: .4s;
}

footer{
	color: white;
	font-family: var(--content-font);
	font-size: 1.1em;
	background-color: transparent;
}

.footer-container{
	display: flex;
	justify-content: space-between;
	padding-top: 50px;
	padding-bottom: 35px;
	padding-left: 8%;
	padding-right: 10%;
	border-top: 2px solid var(--border-color);
}

.footer-company-info{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.footer-company-logo{
	text-align: center;
}

.footer-logo{
	width: 150px;
}

.footer-company-name{
	padding-bottom: 20px;
}

a{
	color: var(--font-color);
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
}

.footer-social-title{
	font-size: 1.3em;
}

.footer-social-content{
	width: 115%;
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
}

.footer-social-icon{
	font-size: 1.5em;
}

.footer-social-icon:hover{
	color: var(--first-color);
	transition: .4s;
}

.footer-group-info{
	padding-bottom: 10px;
	text-align: center;
}

.footer-group-info-link:hover{
	color: var(--first-color);
	transition: .4s;
}

.navigation-menu{
	font-family: var(--content-font);
	font-size: 0.7em;
	display: none;
	justify-content: space-evenly;
	background-color: var(--second-color);
	position: sticky;
	bottom: 0;
	opacity: 0;
	visibility: hidden;
}

.footer-nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 10px;
}

.footer-nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 0 2.2em;
}
.footer-nav ul li a{
	color: var(--font-color);
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.footer-nav ul li a:hover{
	color: var(--background-color);
	transition: .4s;
}

.footer-nav-icon{
	font-size: 2.3em;
}

/*START CODING HERE*/

/*Ni pun boleh tukar*/
.section-best-seller{
	width: 100%;
	height: auto;
	background-color: var(--second-color);
	font-family: var(--title-font);
	display: flex;
	flex-direction: column;
	align-items: center;
}
.section-best-seller h1{
	color: var(--font-color);
	font-size: 5vw;
	text-align: center;
	text-decoration-line: underline;
	padding-top: 25px;
}
.best-seller-image{
	width: 85%;
}
.section-recommended{
	padding: 2em 2em;
}

.recommended-title{
	color: white;
	text-align: center;
	font-size: 2.5vw;
	font-weight: 650;
	margin-top: 1.5vw;
	margin-bottom: 4vw;
}

.recommended-container{
	display:flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.card{
	background-color: var(--background-color);
	width:21vw; 
	height:27vw;
	margin: 0.5vw;
	border: 0px;
}
.card:hover{
	transform: scale(1.05);
	transition: .3s;
}
.recommended .card-img-top{
	height: 17vw;
	width: auto;
	padding: 0.5em;
	margin: 0;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.recommended .card-body{
	width: 100%;
	height: auto;
	color: var(--font-color);
	padding: 1em;
	text-align: center;
}
.recommended .card-title{
	font-size: 1.3vw;
	font-weight: 700;
	margin: 0.1vw;
}
.recommended .card-author{
	font-size: 1vw;
	font-weight: 500;
	margin: 0.1vw;
}
.recommended .card-price{
	font-size: 1.1vw;
	font-weight: 500;
	color: var(--first-color);
	margin: 0.1vw;
}







/*END CODING HERE*/

@media screen and (max-width: 810px) {
	.navigation-menu{
		display: flex;
		opacity: 100;
		visibility: visible;
	}
	.nav-main{
		opacity: 0;
		visibility: hidden;
	}
	.header-nav{
		display: none;
		opacity: 0;
		visibility: hidden;
	}
	.header-nav-overflow{
		display: flex;
		justify-content: space-between;
		opacity: 100;
		visibility: visible;
	}
	.recommended-title{
		font-size: 4vw;
	}
	.card{
		width:38vw; 
		height:45vw;
		margin: 0.8vw;
	}
	.recommended .card-img-top{
		height: 28vw;
	}
	.recommended .card-title{
		font-size: 2.6vw;
		font-weight: 700;
		margin: 0.1vw;
	}
	.recommended .card-author{
		font-size: 2vw;
		font-weight: 500;
		margin: 0.1vw;
	}
	.recommended .card-price{
		font-size: 2.2vw;
		font-weight: 500;
		color: var(--first-color);
		margin: 0.1vw;
	}

}

@media screen and (max-width: 530px) {
    .footer-container{
		display: inline-block;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}
	.footer-social{
		padding-top: 30px;
	}
	.footer-social-content{
		width: 60%;
		padding-top: 10px;
	}
	.section-best-seller h1{
		color: var(--font-color);
		font-size: 7vw;
		text-align: center;
		text-decoration-line: underline;
		padding-top: 15px;
	}
	.best-seller-image{
		width: 100%;
	}
	.card{
		margin: 0.8vw;
	}
	.recommended-title{
		font-size: 5vw;
	}
	.card{
		width:75vw; 
		height:75vw;
		margin: 4vw;
	}
	.recommended .card-img-top{
		height: 50vw;
	}
	.recommended .card-title{
		font-size: 4.5vw;
		font-weight: 700;
		margin: 0.1vw;
	}
	.recommended .card-author{
		font-size: 3.5vw;
		font-weight: 500;
		margin: 0.1vw;
	}
	.recommended .card-price{
		font-size: 4vw;
		font-weight: 500;
		color: var(--first-color);
		margin: 0.1vw;
	}
}